{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="container bg-secondary mt-5">
    <section>
      <div class="row">
        <div class="col">
          <h2 class="text-center mb-4">{{ page.title }}</h2>
          <!-- start slipsum code -->
          <p class="blog-date">{{ page.post_date }}</p>
          {% if page.blog_image %}
            {% image page.blog_image max-560x530 as img %}
            <img src="{{ img.url }}"
              class="img-thumbnail featured-img border-md d-block mx-auto float-md-left img-fluid mb-md-2 mr-md-2">
          {% endif %}
          <div class="blog-text">
            {{ page.body|richtext }}
          </div>
        </div>
      </div>
    </section>
    <div class="row my-4">
      <div class="col-lg-6">
        {% if self.next_post %}
          <p class="lead"><a class="text-success font-weight-bold" href="{{ self.next_post.specific.url }}"><< {{ self.next_post.specific.title }}</a></p> 
        {% endif %}
      </div> 
      <div class="col-lg-6 d-flex justify-content-end">
        {% if self.prev_post %}
         <p class="lead"><a class="text-success font-weight-bold" href="{{ self.prev_post.specific.url }}">
            {{ self.prev_post.specific.title }} >></a></p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block aside %}
  {% include "includes/aside.html" %}
{% endblock %}