{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="container bg-secondary my-5">
    <h2 class="text-center mb-4">{{ page.title }}</h2>
    {% image page.page_image fill-560x540 as img %}
    {% if img %}
      <img src="{{ img.url }}"
      class="img-thumbnail featured-img border-md d-block mx-auto float-md-left img-fluid mb-md-2 mr-md-2">
    {% endif %}
    <div class="blog-text">
      {{ page.page_content|richtext }}
    </div>
  </div>
{% endblock %}

{% block aside %}
  {% include "includes/aside.html" %}
{% endblock %}