{% load menu_tags %}

{% get_menu "header" as navigation %}

<header class="mb-5">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark d-flex border-bottom border-dark border-1">
    <div class="w-25 d-flex justify-content-lg-center">
      <a class="navbar-brand ml-lg-5" href="/">Shut Up a Second.</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarToggler">
      <ul class="navbar-nav mr-lg-5">
        {% for item in navigation.menu_items.all %}
          <li class="nav-item {% if item.link_page.url == request.path %} active {% endif %}">
            <a class="nav-link" href="{{ item.link_page.url }}">
              {{ item.link_title }} {% if item.link_page.url == request.path %}<span
                class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>