{% extends "base.html" %}
{% load wagtailimages_tags%}
{% load wagtailcore_tags %}


{% block content %}
  <!-- Photo & About blurb -->
  <div class="container-fluid bg-secondary border-lg-bottom">
    <section>
      <div class="row">
        <div class="col-lg-7 border-lg-right px-0 border-mobile-bottom">
          {% image page.top_image fill-1280x930 class="img-fluid" %}
          <!-- <img src="img/man.jpeg" class="img-fluid"> -->
        </div>
        <div class="col-lg-5 px-0 d-flex flex-column justify-content-lg-center border-mobile-bottom">
          <h2 class="px-3">{{ page.about_header }}</h2>
          <p class="px-3 lead">{{ page.lead_text }}</p>
          <p><a href="{{ page.linked_page.url }}" class="text-danger px-3 font-weight-bold">{{ page.linked_page_text }} >> </a></p>
        </div>
      </div>
    </section>
  </div>
  <!-- Most Recent post -->
  <div class="container-fluid bg-secondary border-lg-bottom">
    <section>
      <div class="row">
        <div class="col-lg-5 px-0 d-flex flex-column justify-content-lg-center border-lg-right border-mobile-bottom">
          <h2 class="display-4 px-3 pb-2 text-success">Latest Blog Post</h2>
          <h3 class="px-3">{{ latest_post.title }}</h3>
          <div class="px-3 lead">
            <!-- TODO - NEED BLURB NOT WHOLE POST -->
            <p>{{ latest_post.body|safe|truncatewords:50 }}</p>
          </div>
          <p><a href="{{ latest_post.url }}" class="text-danger px-3 font-weight-bold">Read More >> </a></p>
        </div>
        <div class="col-lg-7 px-0 border-mobile-bottom">
          {% image page.second_image fill-1280x930 class="img-fluid" %}
        </div>
      </div>
    </section>
  </div>

{% endblock content %}
