{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="container bg-secondary mt-5">
    <section>
      <div class="row">
        <div class="col">
          <h2 class="text-center mt-3 mb-4">{{ page.title }}</h2>
          <p class="blog-date">{{ page.post_date }}</p>
          {% if page.blog_image %}
            {% image page.blog_image max-560x530 as img %}
            <img src="{{ img.url }}"
              class="img-thumbnail featured-img border-md d-block mx-auto float-md-left img-fluid mb-md-2 mr-md-2">
          {% endif %}
          <div class="blog-text">
            {{ page.body|richtext }}
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col social-links pt-3">
        <h2>Share this post on social media</h2>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.full_url }}" class="text-body"  target="_blank" rel="noreferrer noopener" aria-label="Share To Facebook"><i
          class="fab fa-facebook fa-7x"></i></a>
          <a href="https://twitter.com/intent/tweet?text={{ page.specific.title|urlencode:'' }}%20{{ page.full_url }}%20@PeepMyNerdGame%20#shutupasecond" class="text-body" target="_blank" rel="noreferrer noopener" aria-label="Share To Twitter"><i class="fab fa-twitter-square fa-7x"></i></a>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-lg-6">
        {% if self.next_post %}
          <p class="lead"><a class="btn btn-success header-font" href="{{ self.next_post.specific.url }}">< {{ self.next_post.specific.title }}</a></p> 
        {% endif %}
      </div> 
      <div class="col-lg-6 d-flex justify-content-end">
        {% if self.prev_post %}
         <p class="lead"><a class="btn btn-success header-font" href="{{ self.prev_post.specific.url }}">
            {{ self.prev_post.specific.title }} ></a></p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block aside %}
  {% include "includes/aside.html" %}
{% endblock %}